.Square {
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px rgba(55, 71, 79, 0.3);
  -webkit-text-stroke: 2px #ffffff;
  font-family: Rubik;
  font-size: 46.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
