.TicTacToe {
  display: grid;
  grid-template-rows: [player] 20% [board] 50% [game] 30%;
  grid-gap: 5vh;
  height: 85vh;
  font-weight: 700;

  .instructions {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }

  .button {
    margin-top: 15px;
    margin-bottom: 16px;
    width: 80px;
    height: 40px;
    background-color: rgb(138, 202, 202);
    color: white;
    font-size: 16px;
  }

  .Player {
    grid-row: player;
    display: grid;
  }

  .Board {
    grid-row: board;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-shadow: 1px 1px 1px rgba(80, 161, 210, 0.3);
    -webkit-text-stroke: 2px #ffffff;
  }

  .Game {
    grid-row: game;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-around;
    height: 33%;
  }
}
